<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Titan-Postgresql-iOS-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Titan-Postgresql-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Titan-Postgresql-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Titan-Postgresql.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TitanPostgresqlKit-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TitanPostgresqlKit-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA2AA4831D97942A00F8A1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC08A1D9798720056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC09B1D9798C10056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC0B41D97996E0056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC0CE1D9799840056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC0E01D9799FE0056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2EC0F11D979A100056B4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
